*
!.gitignore

!wavedrom
!wavedrom/FFT_Config
!wavedrom/FFT_Config/*
!wavedrom/Recv_F1
!wavedrom/Recv_F1/*
!wavedrom/Recv_F2
!wavedrom/Recv_F2/*
!wavedrom/Read_BRAM
!wavedrom/Read_BRAM/*
!wavedrom/Out_Block
!wavedrom/Out_Block/*

!yEd
!yEd/*

!docs
!docs/*

!tcl
!tcl/*
tcl/test_params

!matlab
!matlab/*.m

!hdl
!hdl/source
!hdl/source/*
!hdl/package
!hdl/package/*
!hdl/tests
!hdl/tests/*



